
bin/ApplicationInsights.config
bin/EntityFramework.SqlServer.xml
bin/Microsoft.AI.DependencyCollector.xml
bin/Microsoft.AI.Web.xml
*.xml
WebApplicationTest3.csproj
Web.Debug.config
Web.Release.config
Web.config
bin/WebApplicationTest3.dll.config
bin/roslyn/VBCSCompiler.exe.config
bin/roslyn/vbc.rsp
bin/roslyn/vbc.exe.config
bin/roslyn/Microsoft.VisualBasic.Core.targets
bin/roslyn/Microsoft.CSharp.Core.targets
bin/roslyn/csi.rsp
bin/roslyn/csc.rsp
bin/roslyn/csc.exe.config
