
.tb1 {
    border: 0;
    width: 600px;
    margin-left: 90px;
    margin-right: auto;
}


.th1 {
    background: #ff0000;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: auto;
}

.td1 {
    background: #ffffff;
    text-align: left;
    padding-left: 90px;
    padding-right: 1px;
    margin-right: auto;
    padding-bottom: 20px;
}

.td2{
    text-align: right;
}